@import './variables.scss';
@import './mixin.scss';

.pomodroido-work-end-bg {
    animation: workEndBg 2s 3;
}

.pomodroido-relax-end-bg {
    animation: relaxEndBg 2s 3;
}

@keyframes relaxEndBg {
    0% {
        background: initial;
    }

    50% {
        background: $danger;
    }

    100% {
        background: initial;
    }
}

@keyframes workEndBg {
    0% {
        background: initial;
    }

    50% {
        background: $primary;
    }

    100% {
        background: initial;
    }
}